<style>
  	p{
  		font-family: arial;
  		margin-top: 0;
  		margin-bottom: 0;
  	}
  	.video-title{
  		font-weight: bold;
  		font-size: 20 px;
  		margin-bottom: 5px;
  		width: 280px;
  		line-height: 24px;
  	}
  	.video-stats{
  		font-size: 14px;
  		color: slategray;
  		margin-bottom: 20px;

  	}
  	.video-author{
  		font-size: 14px;
  		color: slategray;
  		margin-bottom: 20px;

  	}
  	.video-description{
  		font-size: 14px;
  		color: slategray;
  		width: 280px;
  		line-height: 22px;
  		margin-bottom: 200px;
  	}
  	.apple-text{
  		margin-bottom: 50px;
  		font-size: 14px;
  		background-color: red;
  		color: white;
  		text-align: center;
  		padding: 10px;
  	}
  	.span-example{
  		color: red;
  	}
  	.span-example:hover{
  		text-decoration: underline;
  	}
  	.shop-link:hover{
  		text-decoration: underline;
  	}



  
  	
 
  </style>

  


